body {
  text-align: justify;
}

code, pre {
  font-family: "DejaVuSansMono", monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

pre {
  /* Don't make it too dark or it will be harder to read on e-ink devices */
  background-color: #f5f5f5;
  border-radius: 3px;
  font-size: 0.85em;
  padding: 10px;
  text-align: left;
  /* Wrap the text of pre sections */
  white-space: pre-wrap;
}

@font-face {
  font-family: "DejaVuSansMono";
  src: url(DejaVuSansMono.ttf) format("truetype");
}
